block content
    h2 Hola,
    p Recibimos una solicitud de cambio de contraseña, para hacer esto debes de hacer clic&nbsp;
        a(href=resetLink) aquí.
    p Si no solicitaste el cambio ignora este mensaje.
    p Si tienes alguna duda, por favor, no dudes en escribirnos. ¡Estaremos atentos para apoyarte en todo lo que necesites!


